@mixin my-header {
	@include my-top-bar;
	

	/* initially, hide all slides... */
	.orbit .orbit-slide {
		display: none;
	}

	/* ...except for the first one */
	.orbit li:first-of-type { display: block; }
	
	[data-sticky] {
		width: 100%; }
		
	@media #{$medium-up} {
		.top-bar-container {
			height: 6em !important;
		}
	}
}

@mixin my-top-bar {
	.top-bar {
		padding: 2em;
		transition: padding .25s ease; }
		
	.is-stuck .top-bar {
		padding: 1em;
		transition: padding .25s ease; }
}